<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>santosAlterBox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>santosAlterWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>santosBox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>santosWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B46B0531EAF85C400B24F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B46B0691EAF860900B24F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA9CCE51EAF89FB00DE32A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA9CD0A1EAF8E2400DE32A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
